<%layout("/layouts/boilerplate")%>
<div class="row offset-2">
    <div class="col-8">
        <br><br>
        <h3>Edit Listing with id: <%=listing.id%></h3>
        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
                <div class="valid-feedback">Title Looks Good!!</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
                <div class="invalid-feedback">Please enter valid description!!</div>
            </div>
            <div class="mb-3">
                Original Listing Image<br>
                <img src="<%=originalImageUrl%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Upload New Image</label>
                <input name="listing[image]" type="file" class="form-control">
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Price</label>
                    <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid Price!!</div>
                </div>
                <div class="col-md-8">
                    <label class="form-label">Country</label>
                    <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid country!!</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Location</label>
                <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter valid location!!</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select name="listing[category]" class="form-select" required>
                    <option value="" disabled>Select a category</option>
                    <option value="trending"  <%=listing.category==='trending'  ? 'selected' : ''%>>Trending</option>
                    <option value="rooms"     <%=listing.category==='rooms'     ? 'selected' : ''%>>Rooms</option>
                    <option value="cities"    <%=listing.category==='cities'    ? 'selected' : ''%>>Iconic Cities</option>
                    <option value="mountains" <%=listing.category==='mountains' ? 'selected' : ''%>>Mountains</option>
                    <option value="castles"   <%=listing.category==='castles'   ? 'selected' : ''%>>Castles</option>
                    <option value="pools"     <%=listing.category==='pools'     ? 'selected' : ''%>>Amazing Pools</option>
                    <option value="camping"   <%=listing.category==='camping'   ? 'selected' : ''%>>Camping</option>
                    <option value="farms"     <%=listing.category==='farms'     ? 'selected' : ''%>>Farms</option>
                    <option value="arctic"    <%=listing.category==='arctic'    ? 'selected' : ''%>>Arctic</option>
                    <option value="domes"     <%=listing.category==='domes'     ? 'selected' : ''%>>Domes</option>
                    <option value="boats"     <%=listing.category==='boats'     ? 'selected' : ''%>>Boats</option>
                </select>
                <div class="invalid-feedback">Please select a category!!</div>
            </div>
            <br><br>
            <button class="btn btn-dark edit-btn">Edit</button>
        </form>
    </div>
</div>